.wrapper{
    background-color:rgb(200, 232, 252);
    position: relative;
    top:0;
    left:0;
    right:0;
    width:100%;
    font: 80% serif;
    text-shadow: 2px 2px 5px gray;
    text-align:start;
    overflow:auto;
}
